menu  /* popup menu */
{
	font             : system;
	behavior         : menu; /*is a menu*/
	flow             : vertical;
	display          : none;
	margin           : 0;
	padding          : 1px;
	max-width        : max-intrinsic;
	/*min-width      : max-intrinsic;*/
	border           : 1px solid black;
	background-color : white;
	color            : black;
	margin           : 0 1px; /* to offset it from parent li */
}
menu menu /* secondary popup menu */
{
	max-width : max-intrinsic;
}
/* menu item in popup menus */
menu li 
{  
	text-align          : left;
	width               : *;
	padding-left        : 8px;
	padding-right       : 20px; /* room for the arrow */
	padding-top         : 4px;
	padding-bottom      : 4px;
	foreground-repeat   : no-repeat;
	foreground-position : 2px 50%;
	color               : black;
}
menu li:disabled
{
	color            : gray
	foreground-image : none;
}
menu li[checked]
{
	foreground-image    : url(menu-check.png);
	foreground-repeat   : no-repeat;
	foreground-position : 100% 50%;
}
/* accesskey label (span) */
menu li span.accesskey
{
	display      : inline-block;
	margin-left  : *; /* spring to attach it to the right */
	padding-left : 1em;
	color        : black;
}
menu li:current span.accesskey
{
	background-color : #3498ff;
	color            : black;
}
/* menu with single <menu> inside - submenu */
menu li:has-child-of-type(menu)
{
	foreground-image    : url(stock:arrow-right); /* that arrow */
	foreground-repeat   : no-repeat;
	foreground-position : 100% 50%;
}
/* current menu item */
menu li:current
{ 
	background-color : highlight;
	color            : highlighttext;
}
/* menu separator */
menu hr 
{
	margin : 2px;
}


input, widget[type=text]
{
	background-image    : url(inputshadow.png);
	background-position : 7px 7px 7px 7px;
	background-repeat   : expand;
	border-style        : none;
	color               : black;
	font-size           : 12px;
	height              : 20px;
	padding             : 0px 5px;
}


@set std-select-dropdown
{
	:root
	{
		background : none;
		border     : none;
		color      : black;
	}
	:root *
	{
		color : black;
	}
	:root > caption
	{
		background-image    : url(inputshadow.png);
		background-position : 7px 7px 7px 7px;
		background-repeat   : expand;
		border              : none;
		font-size           : 12px;
		height              : 20px;
		margin              : 0px;
		padding             : 0px 5px;
	}
	:root > button
	{
		background-image : url(dropdown-arrow.png);
		border-style     : none;
		height           : 20px;
		margin           : 0px;
		width            : 20px;
	}
	:root > popup option:current
	{
		background-color : #3498ff;
		color            : black;
	}
}
