menu  /* popup menu */
{
	font             : system;
	behavior         : menu; /*is a menu*/
	flow             : vertical;
	display          : none;
	margin           : 0;
	padding          : 1px;
	max-width        : max-intrinsic;
	border           : 1px solid black;
	background-color : white;
	color            : black;
	margin           : 0 1px; /* to offset it from parent li */
}
menu menu /* secondary popup menu */
{
	max-width : max-intrinsic;
}
/* menu item in popup menus */
menu li 
{  
	text-align          : left;
	width               : *;
	padding             : 8px 20px 8px 8px; /* includes room for the arrow */
	foreground-repeat   : no-repeat;
	foreground-position : 2px 50%;
	color               : black;
}
menu li:disabled
{
	color            : gray;
	foreground-image : none;
}
menu li[checked]
{
	foreground-image    : url(menu-check.png);
	foreground-repeat   : no-repeat;
	foreground-position : 100% 50%;
}
/* accesskey label (span) */
menu li span.accesskey
{
	display      : inline-block;
	margin-left  : *; /* spring to attach it to the right */
	padding-left : 1em;
	color        : black;
}
menu li:current span.accesskey
{
	color : #FFD700;
}
/* menu with single <menu> inside - submenu */
menu li:has-child-of-type(menu)
{
	foreground-image    : url(stock:arrow-right); /* that arrow */
	foreground-repeat   : no-repeat;
	foreground-position : 100% 50%;
}
/* current menu item */
menu li:current
{ 
	background-color : #3498ff;
	color            : black;
}
/* menu separator */
menu hr 
{
	margin : 2px;
}


input:not([type]), input[type=text], input[type=password], widget[type=text], widget[type=password]
{
	background-image    : url(inputshadow.png);
	background-position : 13px 13px 13px 13px;
	background-repeat   : expand;
	border-style        : none;
	color               : black;
	font-size           : 24px;
	height              : 40px;
	padding             : 0px 10px;
}



@set std-select-dropdown
{
	:root
	{
		background : none;
		border     : none;
		color      : black;
	}
	:root *
	{
		color : black;
	}
	:root > caption
	{
		background-image    : url(inputshadow.png);
		background-position : 13px 13px 13px 13px;
		background-repeat   : expand;
		border              : none;
		font-size           : 24px;
		height              : 40px;
		margin              : 0px;
		padding             : 0px 10px;
	}
	:root > button
	{
		background-image : url(dropdown-arrow.png);
		border-style     : none;
		height           : 40px;
		margin           : 0px;
		width            : 40px;
	}
	:root > popup option:current
	{
		background-color : #3498ff;
		color            : black;
	}
}
